#--------------------------------------------------------------------
# Copie para .env local ou configure estas variáveis no Coolify
#--------------------------------------------------------------------

CI_ENVIRONMENT=production

app.baseURL=http://oscfnjn4wy74ena93rjmt7ac.187.127.5.184.sslip.io/
app.forceGlobalSecureRequests=false

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------
database.default.hostname=127.0.0.1
database.default.database=ci4_test
database.default.username=root
database.default.password=
database.default.DBDriver=MySQLi
database.default.port=3306

#--------------------------------------------------------------------
# AUTH / ENCRYPTION
#--------------------------------------------------------------------
JWT_SECRET=altere-esta-chave-no-env
encryption.key=
